doctype html
head
  title= title
  link(rel='stylesheet', href='static/main.css')
body
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/profile') Profile
      li
        a(href='/register') Sign Up
      li
        a(href='/login') Log In
block content
